

.myitem{
  height: 100%;
  width: 100%;
  position: relative;
  background: rgb(133, 235, 235, 0.7);
  box-shadow: 1px 1px 0.5px wheat; 
}

.bodys{
  background-color: grey;
  width: 500px;
  height: 300px;
  position: relative;
  margin: 20px;
}

.pres{
  float: left;  
}
.displays{
  background-color: white;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 10px;
  width: 85%;
}
.displays-inner{
  display: block;
  margin: 2px;
  position: relative;
  text-align: right;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.operatekeys{
  background-color: #eee;
  border: thin solid #ddd;
  font-size: 20px;
  text-align: justify;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin-left: 30px;
  margin-bottom: 10px;
}
.fullkeys{
  width: 100%;
  height: 75%;
}
.numbers{
  width: 100%;
  height: 50%;
  background-color: black;
}

.digits,.zero, .dot,.dots{
  background-color: #eee;
  border: thin solid #ddd;
  border-radius: 50px;
  width: 55px;
  height: 55px;
  margin-left: 20px;
  margin-bottom: 2px;
  float: left;
  font-size: 25px;
  
}
.zero {
  width: 200px;
  height: 55px;
}
.dot{
  margin-left: 20px;
}

.presskey {
  position: relative;
	display: inline-block;
  margin: 35px 25px;
  background-color: white;
}

.star {
	display: inline-block;
  margin: 0 15px;
}

.star:after {
  content: "\2605";
  font-size: 45px;
}
.lefts{
  width: 250px;
  height: 300px;
  background-color: hotpink;
  float: left;
  position: relative;
  
}
.rights{
  width: 250px;
  height: 300px;
  float: right;
  background-color:  rgb(135, 233, 218);
  position: relative;
}
.presskeys {
  position: relative;
	display: inline-block;
  margin: 25px 20px;
  background-color: white;
}
.calcrights{
  position: absolute;
  width: 245px;
  height: 450px;
  padding: 10px;
  top: 20%;
  left: 30%;
  background-color: rgb(43, 38, 38);
  border: solid 2px rgb(61, 61, 61);
  border-radius: 20px;
}
.left, .right{
  padding-left: 20px;
  padding-top: 15px;
  float: left;
  font-weight: bold;
  
}
.right{
  float: right;
  color:  rgb(135, 233, 218);
  font-weight: bolder;
  font-size: 20px;
  padding-top: 15px;
  padding-right: 20px;
}
.unit{
  position: relative;
  float: left;
  padding-left: 20px;
  padding-top: 10px;
  width: 50%;
  height: 35%;
  font-weight: lighter;

}
.obj{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: red;
}
.relate{
  position: relative;
}

.full{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: teal;
}
.compare{
  position: absolute;
  border: solid 1px white;
  padding: 10px;
  color: wheat;
  top: 35%;
  left: 35%;
  transform: scale(0);
}
tr{color: tomato;
  
}
.tabrow{ 
  font-size: 18px;
  padding: 5px;
  width: 300px;
  background-color: #e0d4d4;
  text-align: center;
}


.compares{
  position: relative;
  width: 1000px;
  height: 700px;
}
.content_display{
  position: relative;
  width: 100%;
  height: 70%;
  padding: 25px;
}
.compare_display{
  position: relative;
  width: 100%;
  height: 50%;
  float: left;
  padding-left: 40px;
}
.item-desc{
  position: absolute;
  width: 100%;
  height: 20%;
  top: 80%;
  background-color: white;
}
.price{
  background-color: red;
  width: 100%;
  height: 100%;
}
.product{
  float: left;
  width: 50% ;

}
.product-image{
  width: 100%;
  height: 100%;
  position: absolute;
}
.price-tag{
  width: 50%;
  float: right;
}
.quantity{
  float: left;
  padding-top: 10px;
}
.content{
  position: relative;
  margin: 20px;
  float: left;
  width: 20%;
  height: 400px;
  background-color: turquoise;
}
.content:hover .myitem {
		box-shadow: 0.6px 0.6px 0.5px 0.5px grey;
}
.content:hover .compare{
  transform: scale(1);
}
